<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uestc.naldo.psm">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SelectCharacterActivity"
            android:label="@string/select_character_title"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity.OwnerLoginActivity"
            android:label="@string/owner_login_title"
            android:parentActivityName=".SelectCharacterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uestc.naldo.psm.SelectCharacterActivity" />
        </activity>
        <activity
            android:name=".LoginActivity.TrainerLoginActivity"
            android:label="@string/title_activity_trainer_login"
            android:parentActivityName=".SelectCharacterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uestc.naldo.psm.SelectCharacterActivity" />
        </activity>
        <activity
            android:name=".LoginActivity.AdminLoginActivity"
            android:label="@string/title_activity_admin_login"
            android:parentActivityName=".SelectCharacterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uestc.naldo.psm.SelectCharacterActivity" />
        </activity>
        <activity
            android:name=".MainActivity.OwnerMainActivity"
            android:label="@string/title_activity_owner_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".MainActivity.TrainerMainActivity"
            android:label="@string/title_activity_trainer_main"></activity>
        <activity
            android:name=".MainActivity.AdminMainActivity"
            android:label="@string/title_activity_admin_main"></activity>
    </application>

</manifest>